@import variables
    
.dashboard-container
    display: grid
    grid-template-columns: repeat(80, 1fr)
    grid-template-rows: 1fr repeat(3, 4fr)
    width: 220vw
    height: auto
    margin: 
        left: 2vw
        right: 2vw
        bottom: 30px

.time
    font-size: 0.7em
    color: $lightgray
    grid-row-start: 1
    grid-row-end: 5
    padding:
        left: 5px
    margin:
        top: 10px
        bottom: 10px
    border:
        left: solid 1px $lightgray

.dashboard-container .shows-list-item-container
    border-radius: 0
    padding: 
        left: 10px
    margin:
        bottom: 20px
    opacity: 0.8
    border: 
        width: 3px
        color: transparent
        style: solid
    border-right: 
        width: 3px
        color: $lightgray
        style: dotted

.dashboard-container .shows-list-item-container:first-child
    margin:
        top: 0px

.dashboard-container .shows-list-item-container.selected:hover
    border: 
        width: 3px
        color: $green
        style: solid
    background-color: $lightgreen

.dashboard-container .show-container
    width: auto

.dashboard-container .show-img-container
    display: none

.dashboard-container .show-name
    font-size: 1em
    font-weight: $font-bold
    margin: 
        bottom: 5px
    overflow-wrap: break-word

.dashboard-container .show-stage
    font-size: 0.8em
    font-weight: $font-regular
    margin: 
        bottom: 5px

.dashboard-container .show-day
    display: none

.dashboard-container .show-time
    font-size: 0.6em

.dashboard-container .show-icon-container
    display: none

@media only screen and (min-width: 800px) and (max-width: 1000px)
    .dashboard-container
        width: 300vw

@media only screen and (min-width: 0px) and (max-width: 800px)
    .dashboard-container
        width: 600vw

@media print 
    .dashboard-container
        overflow-x: visible !important
        left: 0 !important
        width: 280mm !important
        height: auto !important

    .dashboard-container .shows-list-item-container
        border: 
            width: 1px
            color: $darkgray
            style: solid

    .show-name
        font-size: 10px !important

    .show-stage
        font-size: 8px !important

    .show-time
        font-size: 8px !important