@import variables

.show-container
    display: flex
    justify-content: space-between
    color: $black
    width: 530px

.show-information
    display: flex

.show-img-container
    width: 90px
    height: 90px
    border-radius: 5px
    overflow: hidden
    margin-right: 20px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)

.show-img
    width: 90px
    height: 90px
    object-fit: cover

.show-name
    font-weight: $font-bold
    font-size: $font-h4
    margin: 
        bottom: 5px

.show-stage
    font-size: $font-h6
    text-transform: capitalize
    margin:
        bottom: 10px

.show-day
    font-size: $font-p
    color: $lightgray
    margin:
        bottom: 5px

.show-time
    font-size: $font-p
    color: $lightgray

.show-icon-container
    align-self: center

.show-add-icon
    fill: $green
    width: 25px
    height: 25px

.show-remove-icon
    fill: $red
    width: 25px
    height: 25px