.show-container {
  display: flex;
  justify-content: space-between;
  color: #181818;
  width: 530px;
}

.show-information {
  display: flex;
}

.show-img-container {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.show-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.show-name {
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.show-stage {
  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.show-day {
  font-size: 0.8em;
  color: #A0A0A0;
  margin-bottom: 5px;
}

.show-time {
  font-size: 0.8em;
  color: #A0A0A0;
}

.show-icon-container {
  align-self: center;
}

.show-add-icon {
  fill: #40BFA3;
  width: 25px;
  height: 25px;
}

.show-remove-icon {
  fill: #FC6161;
  width: 25px;
  height: 25px;
}
