.shows-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #FEFEFE;
}

.shows-list-item-container:first-child {
  margin-top: 20px;
}

.shows-list-item-container.selected {
  background-color: red;
}

.shows-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.shows-list {
  padding: 0;
}

.shows-list-item {
  list-style-type: none;
}

.show-checkbox {
  width: 30px;
  height: 30px;
  align-self: flex-end;
}
